.DS_Store
.nodemonignore
.sass-cache/
bin/
public/css/*.css
public/lib
public/js/templates
public/img/1x/*.png
public/img/2x/*.png
public/*/sitemap*
public/css/*.css
public/css/vendors/
public/js/vendors
app/views/*/.compiled
app/views/.compiled

*.log
*.csv
*.dat
*.out
*.pid
*.gz
npm-debug.log
*.*~
node_modules
*.swp
.project
*.sublime*
*.iml
*.ipr
*.iws
.idea/
.tmp
dist/
coverage/
coverage.html